<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            text-align: center;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .column {
            width: 45%;
            margin-bottom: 20px;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        fieldset {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 15px;
        }

        legend {
            font-weight: bold;
        }

        p {
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<h2>Создание пользователя</h2>

<form th:action="@{/admin/create}" th:object="${user}" method="post">
    <div class="container">
        <div class="column">
            <fieldset>
                <legend>Основная информация</legend>

                <p>
                    <label for="firstName">Имя:</label><br>
                    <input type="text" id="firstName" th:field="*{firstName}" placeholder="*" required/>
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red">Ошибка поля</span>
                </p>

                <p>
                    <label for="lastName">Фамилия:</label><br>
                    <input type="text" id="lastName" th:field="*{lastName}" placeholder="*" required/>
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red">Ошибка поля</span>
                </p>

                <p>
                    <label for="middleName">Отчество:</label><br>
                    <input type="text" id="middleName" th:field="*{middleName}" placeholder="*"/>
                    <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" style="color: red">Ошибка поля</span>
                </p>

                <p>
                    Пол пользователя:<br>
                    <label>
                        <input type="radio" id="male" th:field="*{gender}" value="male"/> Мужской
                    </label><br>
                    <label>
                        <input type="radio" id="female" th:field="*{gender}" value="female"/> Женский
                    </label>
                    <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color: red">Ошибка поля</span>
                </p>
            </fieldset>
        </div>

        <div class="column">
            <fieldset>
                <legend>Контактная информация</legend>

                <p>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" th:field="*{email}" placeholder="*" required/>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Ошибка поля</span>
                </p>

                <p>
                    <label for="phoneNumber">Номер телефона:</label><br>
                    <input type="text" id="phoneNumber" pattern="^\+7(\d{10}|-\d{3}-\d{3}-\d{2}-\d{2})" th:field="*{phoneNumber}" placeholder="+7-123-456-78-90 | +71234567890" required/>
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red">Ошибка поля</span>
                </p>

                <p>
                    <label for="address">Адрес:</label><br>
                    <input type="text" id="address" pattern="^([A-Za-zА-Яа-яЁё]+(?:\s[A-Za-zА-Яа-яЁё]+)*),\s([A-Za-zА-Яа-яЁё]+(?:\s[A-Za-zА-Яа-яЁё]+)*),\s([A-Za-zА-Яа-яЁё]+(?:\s[A-Za-zА-Яа-яЁё0-9]+)*),\s(\d+.*)" th:field="*{address}" placeholder="Страна, Город, Улица, Дом"/>
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red">Ошибка поля</span>
                </p>

                <p>
                    <label for="country">Гражданство:</label><br>
                    <select id="country" th:field="*{citizenship}" required>
                        <option value="" disabled selected>Выберите страну гражданства</option>
                        <option th:each="country : ${citizenship}" th:value="${country}" th:text="${country}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('citizenship')}" th:errors="*{citizenship}" style="color: red">Ошибка поля</span>
                </p>

                <p>
                    <label for="telegramAccount">Аккаунт в Телеграмм:</label><br>
                    <input type="text" id="telegramAccount" th:field="*{telegramAccount}" placeholder="*"/>
                    <span th:if="${#fields.hasErrors('telegramAccount')}" th:errors="*{telegramAccount}" style="color: red">Ошибка поля</span>
                </p>
            </fieldset>
        </div>

        <div class="column">
            <fieldset>
                <legend>Данные для входа</legend>

                <p>
                    <label for="userName">Логин пользователя:</label><br>
                    <input type="text" id="userName" pattern="^[a-zA-Z0-9]+$" th:field="*{userName}" placeholder="*" required/>
                    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: red">Ошибка поля</span>
                </p>

                <p>
                    <label for="password">Пароль пользователя:</label><br>
                    <input type="password" id="password" th:field="*{password}" placeholder="*" required/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">Ошибка поля</span>
                </p>
            </fieldset>
        </div>

        <div class="column">
            <fieldset>
                <legend>Роли пользователя</legend>

                <p>
                    <label for="role">Роли:</label><br>
                    <select id="role" th:field="*{roles}" multiple="multiple" required>
                        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" style="color: red">Ошибка поля</span>
                </p>
            </fieldset>
        </div>
    </div>

    <div class="button-container">
        <button type="submit">Создать</button>
    </div>
</form>
</body>
</html>
